<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rainfall</title>
    <link rel="Stylesheet" href="/static/Style.css">
</head>
<body>
    <div class="title">Rainfall prediction</div>
    <div class="titlebar">
        <ul class="narrow"  id="box">
            <a class="narrow" href="{{url_for('Home')}}"><li id="Home">Home</li></a>
            <a class="narrow" href="{{url_for('About')}}"><li id="About">About</li></a>
            <a class="narrow" href="{{url_for('Source')}}"><li id="sources">Sources</li></a>
            <a class="narrow" href="{{url_for('Weather_Forecasting')}}"><li id="dropmem">Weather_forecasting</li></a>
            <a class="narrow" href="{{url_for('Topics')}}"><li id="topics">Topics</li></a>
            <a class="narrow" href="{{url_for('rainfall')}}"><li id="rainfall">Rainfall</li></a>
        </ul>
    </div>
    <div class="mainboxi">
        <h1>Thanks</h1>
        <p>rate us</p>
        <textarea id="feedbackInput" placeholder="Enter your feedback" rows="4" cols="50"></textarea><br>
        <button id="feedbackButton">Submit Feedback</button>
        <div id="feedbackContainer">
            <p id="feedbackText"></p>
        </div>
    </div>
    <script>
        document.getElementById("feedbackButton").addEventListener("click", function() {
            var feedback = document.getElementById("feedbackInput").value;
            document.getElementById("feedbackText").innerText = "Your Feedback: " + feedback;
        });
    </script>
</body>
</html>