<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sources</title>
    <link rel="Stylesheet" href="/static/Style.css">
</head>
<body>
    <div class="title">Rainfall prediction</div>
    <div class="titlebar">
        <ul class="narrow"  id="box">
            <a class="narrow" href="{{url_for('Home')}}"><li id="Home">Home</li></a>
            <a class="narrow" href="{{url_for('About')}}"><li id="About">About</li></a>
            <a class="narrow" href="{{url_for('Source')}}"><li id="sources">Sources</li></a>
            <a class="narrow" href="{{url_for('Weather_Forecasting')}}"><li id="dropmem">Weather_Forecasting</li></a>
            <a class="narrow" href="{{url_for('Topics')}}"><li id="topics">Topics</li></a>
            <a class="narrow" href="{{url_for('rainfall')}}"><li id="rainfall">Rainfall</li></a>
        </ul>
    </div>
    <div class="mainboxi">
        <div class="circle-container">
            <div class="circle">
                <img src="/static/gimini.jpg" alt="Image 1">
            </div>
            <div class="circle">
                <img src="/static/kaggle0.jpg" alt="Image 2">
            </div>
            <div class="circle">
                <img src="/static/openweather.jpg" alt="Image 3">
            </div>
        </div>
    </div>
</body>
</html>